<!-- Main Content
================================================== -->
<div id="body" class="viewport animated">
    <div class="container">
        <div class="boxed-content">
            <!-- Header -->
            <header id="header" class="navbar navbar-default navbar-static-top">
                <div class="clearfix">
                    <!-- logo -->
                    <div class="hd-logo">
                        <a href="index.html"><img src="img/logo.png" title="" alt=""></a>
                    </div>
                    <!-- /logo -->
                    <!-- responsive menu -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Navigation Menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive menu -->
                    <!-- menu -->
                    <nav class="hd-nav nav navbar-nav navbar-right navbar-collapse collapse">
                        <ul class="nav navbar-nav hd-list-menu clearfix">
                            <li>
                                <a href="about.html">
                                    <span class="link-title">About</span>
                                    <span class="link-subtitle">our history</span>
                                </a>
                            </li>
                            <li>
                                <a href="gallery.html">
                                    <span class="link-title">Gallery</span>
                                    <span class="link-subtitle">Our pictures</span>
                                </a>
                                <ul>
                                    <li><a href="gallery.html">Style 1</a></li>
                                    <li><a href="gallery-2.html">Style 2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="ceremony.html">
                                    <span class="link-title">Ceremony</span>
                                    <span class="link-subtitle">All information</span>
                                </a>
                            </li>
                            <li>
                                <a href="rsvp.html">
                                    <span class="link-title">RSVP</span>
                                    <span class="link-subtitle">Events Attending</span>
                                </a>
                            </li>
                            <li>
                                <a href="archive-blog.html">
                                    <span class="link-title">Blog</span>
                                    <span class="link-subtitle">All the news!</span>
                                </a>

                            </li>
                            <li>
                                <a href="page-registry.html">
                                    <span class="link-title">Registry</span>
                                    <span class="link-subtitle">Our Gift List</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- /menu -->
                </div>
            </header>
            <!-- /header -->
            <!-- content -->
            <div class="page-content">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 couple-container">
                        <!-- Title 1 -->
                        <h1 class="title1 couple-title1 title1-border">Our Pictures</h1>
                        <!-- /Title 1 -->
                        <!-- Gallery -->
                        <div id="mansonry" class="row gallery-wrapper">
                            <!-- item -->
                            <div class="mansonry-item col-sm-3">
                                <a href="img/couple-pictures/1.jpg" data-lightbox-gallery="gallery1">
                                    <img src="img/couple-pictures/1.jpg" alt="">
                                    <div class="picture-legend">I love this cake!</div>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!-- /item -->
                            <!-- item -->
                            <div class="mansonry-item col-sm-3">
                                <a href="img/couple-pictures/5.jpg" data-lightbox-gallery="gallery1">
                                    <img src="img/couple-pictures/5.jpg" alt="">
                                    <div class="picture-legend">Marley, the dog</div>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!-- /item -->
                            <!-- item <-->
                            <div class="mansonry-item col-sm-3">
                                <a href="img/couple-pictures/2.jpg" data-lightbox-gallery="gallery1">
                                    <img src="img/couple-pictures/2.jpg" alt="">
                                    <div class="picture-legend">Love is in the air</div>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!-- /item -->

                            <!-- item -->
                            <div class="mansonry-item col-sm-3">
                                <a href="img/couple-pictures/4.jpg" data-lightbox-gallery="gallery1">
                                    <img src="img/couple-pictures/4.jpg" alt="">
                                    <div class="picture-legend">I love you</div>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!-- /item -->
                            <!-- item -->
                            <div class="mansonry-item col-sm-3">
                                <a href="img/couple-pictures/1.jpg" data-lightbox-gallery="gallery1">
                                    <img src="img/couple-pictures/1.jpg" alt="">
                                    <div class="picture-legend">Yes, i really love it</div>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!-- /item -->
                            <!-- item -->
                            <div class="mansonry-item col-sm-3">
                                <a href="img/couple-pictures/6.jpg" data-lightbox-gallery="gallery1">
                                    <img src="img/couple-pictures/6.jpg" alt="">
                                    <div class="picture-legend">That's Amazing!</div>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!-- /item -->
                            <!-- item -->
                            <div class="mansonry-item col-sm-3">
                                <a href="img/couple-pictures/7.jpg" data-lightbox-gallery="gallery1">
                                    <img src="img/couple-pictures/7.jpg" alt="">
                                    <div class="picture-legend">Our engagement ring</div>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!-- /item -->
                            <!-- item -->
                            <div class="mansonry-item col-sm-3">
                                <a href="img/couple-pictures/8.jpg" data-lightbox-gallery="gallery1">
                                    <img src="img/couple-pictures/8.jpg" alt="">
                                    <div class="picture-legend">Bealtiful</div>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!-- /item -->
                            <!-- item -->
                            <div class="mansonry-item col-sm-3">
                                <a href="img/couple-pictures/3.jpg" data-lightbox-gallery="gallery1">
                                    <img src="img/couple-pictures/3.jpg" alt="">
                                    <div class="picture-legend">Perfect Couple</div>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!-- /item -->
                            <!-- item -->
                            <div class="mansonry-item col-sm-3">
                                <a href="img/couple-pictures/10.jpg" data-lightbox-gallery="gallery1">
                                    <img src="img/couple-pictures/10.jpg" alt="">
                                    <div class="picture-legend">Hail to the Queen!</div>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!-- /item -->
                            <!-- item -->
                            <div class="mansonry-item col-sm-3">
                                <a href="img/couple-pictures/9.jpg" data-lightbox-gallery="gallery1">
                                    <img src="img/couple-pictures/9.jpg" alt="">
                                    <div class="picture-legend">Our Future Home</div>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!-- /item -->
                            <!-- item -->
                            <div class="mansonry-item col-sm-3">
                                <a href="img/couple-pictures/11.jpg" data-lightbox-gallery="gallery1">
                                    <img src="img/couple-pictures/11.jpg" alt="">
                                    <div class="picture-legend">Hail to the king!</div>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!-- /item -->
                            <!-- item -->
                            <div class="mansonry-item col-sm-3">
                                <a href="img/couple-pictures/12.jpg" data-lightbox-gallery="gallery1">
                                    <img src="img/couple-pictures/12.jpg" alt="">
                                    <div class="picture-legend">S2</div>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!-- /item -->
                            <!-- item -->
                            <div class="mansonry-item col-sm-3">
                                <a href="img/couple-pictures/13.jpg" data-lightbox-gallery="gallery1">
                                    <img src="img/couple-pictures/13.jpg" alt="">
                                    <div class="picture-legend">That's Funny!</div>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!-- /item -->
                            <!-- item -->
                            <div class="mansonry-item col-sm-3">
                                <a href="img/couple-pictures/14.jpg" data-lightbox-gallery="gallery1">
                                    <img src="img/couple-pictures/14.jpg" alt="">
                                    <div class="picture-legend">Nice Picture</div>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!-- /item -->
                        </div>
                        <!-- /Gallery -->
                        <!-- Pagination container -->
                        <div class="row">
                            <div class="col-xs-12">
                                <!-- Pagination -->
                                <div class="section-pagination">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <a href="#">&lt;&lt; Previous</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
											<span class="pagination-numbers">
												<a href="#">1</a>
												<a href="#">2</a>
												<a href="#">3</a>
												<a href="#">4</a>
												<a href="#">5</a>
												<a href="#">6</a>
											</span>
                                        </div>
                                        <div class="col-xs-4 text-right">
                                            <a href="#">Next &#62;&#62;</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- /Pagination -->
                            </div>
                        </div>
                        <!-- /Pagination container -->
                    </div>
                </div>

            </div>
            <!-- /content -->
            <!-- footer -->
            <footer id="footer">
                <p class="footer-icon"><img src="img/ft-icon.png" alt=""></p>
                <p class="quote-content">"When i saw you i fell in love, and you smiled because you knew."</p>
                <p class="quote-author">Willian Shakespeare</p>
            </footer>
            <!-- /footer -->
        </div>
    </div>
</div>
<!-- /Main Content
================================================== -->