//media Queries
@full-hd: ~"(min-width: 1600px)";
@desktop: ~"(min-width: 1200px)";
@laptop: ~"(min-width:992px)";
@tablet: ~"(min-width: 768px)";
@mobile: ~"(min-width: 240px) and (max-width: 719px)";

//Cores
@color1: #5c453f;
@color2: #d1837e;
@color3: #ce5f5f;

@border-color: #ccc;
@bgcolor: #fafafa;
@text-color: #fff;
@negative-color: #fff;

@header-bg: @color1;
@header-color: #fff;
@submenu-bg: #333;

@footer-bg: @color1;
@footer-color: @header-color;

@black: #111;

.color1 {
  color: @color1;
}

.color2 {
  color: @color2;
}

.color3 {
  color: @color3;
}

.bg-color1 {
  background-color: @color1 !important;
}

.bg-color2 {
  background-color: @color2 !important;
}

.bg-color3 {
  background-color: @color3 !important;
}

//fontes
.font1 {
  font-family: 'Open Sans', sans-serif;
}

.font2 {
  font-family: 'Great Vibes', cursive;
}

.bold {
  font-weight: bold;
}

.anima (@anima) {
  -webkit-transition: all @anima ease-in-out;
  -moz-transition: all @anima ease-in-out;
  transition: all @anima ease-in-out;
}

.anima2 (@anima) {
  -webkit-transition: all @anima;
  -moz-transition: all @anima;
  transition: all @anima;
}

.border-radius (@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.bg-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.rotate(@rotatedg) {
  -webkit-transform: rotate(@rotatedg);
  -moz-transform: rotate(@rotatedg);
  -o-transform: rotate(@rotatedg);
  transform: rotate(@rotatedg);
}

.translateY(@translateY) {
  transform: translateY(@translateY);
  -webkit-transform: translateY(@translateY);
  -moz-transform: translateY(@translateY);
}

.translateX(@translateX) {
  transform: translateX(@translateX);
  -webkit-transform: translateX(@translateX);
  -moz-transform: translateX(@translateX);
}

.scale(@scale) {
  transform: scale(@scale);
  -webkit-transform: scale(@scale);
  -moz-transform: scale(@scale);
}